<div class="row">
  <div class="col-12">
    <%= simple_form_for [:main, @sale] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs w-50 float-end">
        <div class="float-end w-100">
          <%= f.association :customer,
                collection: @customers,
                label_method: :name,
                value_method: :id,
                input_html: { id: 'customer-id' },
                include_blank: false,
                prompt: I18n.t(:select_a_customer) %>
        </div>
        <%= f.input :cart, as: :hidden, input_html: { value: '' }, error: "" %>
        <div class="float-end" style="width: 30%;">
          <p style="margin-bottom: 5px;"><%= I18n.t(:total_price) %>:</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">R$</span>
            <%= f.text_field :total_price, readonly: true, error: "Nenhum produto selecionado", class: "form-control" %>
          </div>
        </div>
      </div>
      <hr class="my-4 w-100">
      <div class="form-actions d-flex justify-content-end">
        <%= f.submit I18n.t(:close_sale), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  new TomSelect('#customer-id');
});
</script>
