<div class="container">
  <h1 class="m-3"><%= I18n.t(:sale, scope: %i[activerecord models], count: 1) %></h1>
  <hr>
  <div id="products"></div>
  <div>
    <div>
      <div id="cart"></div>
    </div>
    <div>
      <%= render "form", sale: @sale %>
    </div>
  </div>
  <br>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch('<%= new_main_sale_path(format: :json) %>')
      .then(response => response.json())
      .then(data => {
        initializeStore(data.products);
        mapLinks(data.products);
        productSearch();
      });

    function productSearch() {
      const inputBusca = document.getElementById("search-input");
      inputBusca.addEventListener("keyup", function () {
        const value = this.value.toLowerCase().trim();
        const rows = document.querySelectorAll("#products-table tr");
        rows.forEach(row => {
          if (row.textContent.toLowerCase().includes(value)) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });
        adjustTableSize();
      });

      adjustTableSize();
    }

    function adjustTableSize() {
      const rows = Array.from(document.querySelectorAll("#products-table tr"));
      const visibleRows = rows.filter(row => row.style.display !== "none");
      const tableWrapper = document.querySelector("#products .table-wrapper-scroll-y");
      if (visibleRows.length <= 5) {
        tableWrapper.style.maxHeight = "none";
      } else {
        tableWrapper.style.maxHeight = "400px";
      }
    }

    var selectedProducts = [];

    function listOfProducts(products) {
      let html = "";
      products.forEach((product, index) => {
        let formattedPrice = parseFloat(product.price).toFixed(2);
        html += `
            <tr>
              <td scope="row" class="col-2">
                <img src="<%= asset_path('img-product.png') %>" width="50" height="50" alt="Produto"/>
              </td>
              <td class="col-6">${product.name}</td>
              <td class="col-2">${formattedPrice}</td>
              <td class="col-2 text-center">
                <input type="button" class="btn btn-success add" data-key="${index}" value="<%= I18n.t(:add) %>">
              </td>
            </tr>
          `;
      });
      return html;
    }

    function initializeStore(products) {
      const containerProducts = document.getElementById("products");
      containerProducts.innerHTML = `
          <input id="search-input" type="text" placeholder="<%= I18n.t(:search_product) %>" class="mx-4">
          <div class="text-center table-wrapper-scroll-y">
            <table class="table table-bordered table-hover my-4 mx-6 my-custom-scrollbar">
              <thead class="table-size">
                <tr>
                  <th scope="col" class="col-2"></th>
                  <th scope="col" class="col-6"><%= I18n.t(:product, scope: %i[activerecord attributes sale]) %></th>
                  <th scope="col" class="col-2"><%= I18n.t(:price) %> (R$)</th>
                  <th scope="col" class="col-2"></th>
                </tr>
              </thead>
              <tbody id="products-table" class="table-size">
                ${listOfProducts(products)}
              </tbody>
            </table>
          </div>
        `;
    }

    window.removeProduct = function (index) {
      let product = selectedProducts[index];
      product.quantity = 0;
      selectedProducts.splice(index, 1);
      updateCart();
    };

    window.addItem = function (index) {
      let product = selectedProducts[index];
      product.quantity++;
      updateCart();
    };

    window.removeItem = function (index) {
      let product = selectedProducts[index];
      if (product.quantity <= 1) {
        removeProduct(index);
      } else {
        product.quantity--;
        updateCart();
      }
    };

    function totalValue() {
      let total = 0.0;
      selectedProducts.forEach(product => {
        if (typeof product.quantity === "number") {
          total += product.quantity * product.price;
        }
      });
      return total;
    }

    function updateTotalValue() {
      const cartContainer = document.getElementById("sale_total_price");
      cartContainer.value = totalValue().toFixed(2);
    }

    function updateCartValue() {
      const cartContainer = document.getElementById("sale_cart");
      const cartData = selectedProducts.map(product => ({
        name: product.name,
        price: product.price,
        id: product.id,
        quantity: product.quantity
      }));
      cartContainer.value = JSON.stringify(cartData);
    }

    function updateCart() {
      const cartContainer = document.getElementById("cart");
      let listOfSelectedProducts = "";
      selectedProducts.forEach((product, index) => {
        let formattedPrice = parseFloat(product.price).toFixed(2);
        let subTotal = (parseFloat(product.price) * product.quantity).toFixed(2);
        if (product !== undefined) {
          listOfSelectedProducts += `
              <tr class="row">
                <td class="col-4">${product.name}</td>
                <td class="col-2">${product.quantity}</td>
                <td class="col-2"> R$ ${formattedPrice}</td>
                <td class="col-2"> R$ ${subTotal}</td>
                <td class="col-2 m-auto text-center">
                  <button type="button" class="btn btn-primary" onclick="addItem(${index})">
                    <i class="bi bi-plus-circle"></i>
                  </button>
                  <button type="button" class="btn btn-primary" onclick="removeItem(${index})">
                    <i class="bi bi-dash-circle"></i>
                  </button>
                  <button type="button" class="btn btn-danger" onclick="removeProduct(${index})">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            `;
        }
      });

      cartContainer.innerHTML = `
          <table class="table table-bordered table-hover table-sm my-4 m-auto">
            <thead>
              <tr class="row">
                <th class="col-4 text-center">Produto</th>
                <th class="col-2 text-center">Quantidade</th>
                <th class="col-2 text-center">Preço por unidade</th>
                <th class="col-2 text-center">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              ${listOfSelectedProducts}
            </tbody>
          </table>
        `;

      updateTotalValue();
      updateCartValue();
    }

    function mapLinks(products) {
      const links = document.getElementsByClassName("add");
      for (let i = 0; i < links.length; i++) {
        links[i].addEventListener("click", function () {
          let key = this.getAttribute("data-key");
          let product = products[key];
          if (!product.quantity) {
            product.quantity = 1;
          } else {
            product.quantity++;
          }
          if (!selectedProducts.includes(product)) {
            selectedProducts.push(product);
          }
          updateCart();
        });
      }
    }
  });
</script>
